{% extends "DojoLoginBundle::layout.html.twig" %}

{% block body -%}
    <h1>Alta de asignaturas</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('asignaturas') }}">
           Volver a la lista de asignaturas
        </a>
    </li>
</ul>
{% endblock %}
