{% extends "DojoLoginBundle::layout.html.twig" %}

{% block body -%}
    <h1>Alta de Módulos</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('modulos') }}">
            Volver a la lista de Módulos
        </a>
    </li>
</ul>
{% endblock %}
