{% extends "DojoLoginBundle::layout.html.twig" %}

{% block contenido %}  
        <!--login modal-->
        <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Ingreso de usuarios</h1>
                    {% if error %}
                    <div>{{ error.message }}</div>
                    {% endif %}              
                    <div class="modal-body">
                    <form class="form col-md-12 center-block" action="{{ path('dojo_login_check') }}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Email" id="username" name="_username" value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="Password" id="password" name="_password">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="no_cerrar" name="_remember_me" checked />
                            <label for="no_cerrar">Recordarme</label>                        
                            <button class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                    </form>
                    </div>                        
                </div>
            </div>
          </div>
        </div>
       
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        <!--
        <script type='text/javascript'>

        $(document).ready(function() {
        });

        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-40413119-1', 'bootply.com');
          ga('send', 'pageview');
        </script>
        -->
{% endblock %}
